/*ESTILOS educacion html*/
main section nav div {
    .text-2 {
        font-size: 28px;
    }

ul {
    .informacion {
        font-size: 50px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }
    .informacion-1 {
        font-size: 25px;
        color: cornflowerblue;
    }
    .informacion-2 {
        font-size: 25px;
        color: cornflowerblue;
    }
    .informacion-3 {
        font-size: 25px;
        color: cornflowerblue;
    }
    .informacion-4 {
        font-size: 25px;
        color: cornflowerblue;
    }
    
















































}
}