/*estilos Experiencias html*/
main section{

    .titulo {
        font-size: 50px;
        color: chocolate;
    }
nav .texto {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
}













}
